[alias]
  a = commit --amend
  anoe = commit --amend --no-edit
  co = checkout
  cm = commit -m
  dc = diff --cached HEAD
[core]
  attributesfile = ~/.gitattributes
  excludesfile = ~/.gitignore
[init]
  defaultBranch = main
[user]
  name = Liam Egan
  email = liam@liamegan.com
