snippet mod "Module"
module $1
  $0
end
endsnippet

snippet clas "Class"
class $1
  $0
end
endsnippet

snippet def "Method"
def $1
  $0
end
endsnippet

snippet defi "Initialize"
def initialize($1)
  $0
end
endsnippet

snippet desc "Describe"
describe $1 do
  $0
end
endsnippet

snippet con "Context"
context "$1" do
  $0
end
endsnippet

snippet it "It"
it "$1" do
  $0
end
endsnippet
