snippet php "PHP opening tag" b
<?php

$0
endsnippet

snippet name "Namespace" b
namespace $1;
$0
endsnippet

snippet use "Use" b
use $1;
$0
endsnippet

snippet clas "Class" b
class $1
{
  $0
}
endsnippet

snippet puf "Public function" b
public function $1($2)
{
  $0
}
endsnippet

snippet prf "Private function" b
private function $1($2)
{
  $0
}
endsnippet

snippet con "Constructor" b
public function __construct($1)
{
  $0
}
endsnippet

snippet $ "This accessor"
$this->$0
endsnippet
