snippet clas "Class definition" b
class $1
  $0
end
endsnippet

snippet mod "Module definition" b
module $1
  $0
end
endsnippet

snippet def "Method definition" b
def $1
  $0
end
endsnippet

snippet defi "Constructor definition" b
def initialize($1)
  $0
end
endsnippet

snippet desc "RSpec description" b
describe $1 do
  $0
end
endsnippet

snippet con "RSpec context" b
context "$1" do
  $0
end
endsnippet

snippet it "RSpec it statement" b
it "$1" do
  $0
end
endsnippet
