! Xft.
xft*antialias: true

! URxvt.
urxvt*scrollBar: false
urxvt*font: xft:Inconsolata:size=24

! Emacs.
emacs*font: Inconsolata-24

! Colors.

#define black         #000000
#define white         #ffffff
#define grey          #888888
#define dark_grey     #444444
#define red           #de5577
#define green         #99ad6a
#define yellow        #fad07a
#define blue          #447799
#define purple        #aa759f
#define blue_green    #75b5aa

*.foreground:     white
*.background:     black
*.cursorColor:    white

*.color0:         black
*.color1:         red
*.color2:         green
*.color3:         yellow
*.color4:         blue
*.color5:         purple
*.color6:         blue_green
*.color7:         grey

*.color8:         dark_grey
*.color9:         red
*.color10:        green
*.color11:        yellow
*.color12:        blue
*.color13:        purple
*.color14:        blue_green
*.color15:        white
